.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }

  body {
    margin: 0;
    padding: 0;
  }
  
  /* Create a div that covers the whole page */
  .fullscreen-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url("../images/handi.jpg");
    background-size:cover;
    background-repeat: no-repeat;
     /* You can set the background color or background image here */
    color: white; /* Text color on the div */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.body-style
{
    /* background-image:url("../images/jkimage.jpeg"); */
    /* background-size:cover;
    background-repeat:no-repeat; */

    top: 0;
    left: 0;
    width: 100%;
    
    background-color:blue;
    margin-bottom:0;

}